/* variables */
:root {
    /* colors */
    --BLACK: #000000;
    --OFF_BLACK: #3A3A3A;
    --OFF_BLACK_LIGHTER: #3e3e3e;
    --GRAY: #D1D1D1;
    --OFF_WHITE: #EFEFEF;
    --WHITE: #ffffff;
    --PALE_BROWN: #C0A080;

    /* transition */
    --TRANS: all .3s ease-in;
}

/* css resets */
a {
    text-decoration: none;
    color: var(--OFF_BLACK);
}

a:hover {
    color: var(--OFF_BLACK_LIGHTER);
}

/* new hero session */
#hero_new {
    background: url(../images/new_page_hero_image.jpg) top/cover no-repeat;
    color: var(--OFF_WHITE);
    margin-top: 52.5px;
    padding: 264px 0;
}

#hero_new .main_title {
    font-size: 70px;
    font-weight: bold;
}

#hero_new .sub_title {
    font-size: 25px;
    font-weight: 500;
}

#hero_new .sign_in_button {
    background-color: var(--WHITE);
}

#hero_new .sign_in_button:hover {
    transition: var(--TRANS);
    background-color: var(--OFF_WHITE);
}

#hero_new i {
    margin-right: 5px;
}
